body{
  background: #eee;
}

#content {
  width: 400px;
  padding: 20px;
  margin: 0 auto;
  background: #fff;
  font-family: verdana;
  font-size: 20px;
  color: brown;

  max-height: 270px;
  overflow: hidden;

  /*set transition up*/
  -webkit-transition: max-height 07s;
  -moz-transition: max-height 0.7s;
  transition: max-height 0.7s;
}

#content.open{
  max-height: 1000px;

  /*set transition up*/
  -webkit-transition: max-height 07s;
  -moz-transition: max-height 0.7s;
  transition: max-height 0.7s;
}

#show-more {
  display: block;
  background: blue;
  width: 140px;
  margin: 20px auto;
  padding: 10px;
  font-size: 25px;
  color: whitesmoke;
  text-align: center;
  border-radius: 30px;
  text-transform: capitalize;
  cursor: pointer;
}

#show-more:hover{
  color: aquamarine;
}
