body{
  background: #eee;
}

#content {
  display: flex;
  margin: 0 auto;
  background: #fff;
  font-family: verdana;
  font-size: 20px;
  color: brown;

}

#show-more {
  display: block;
  background: blue;
  width: 140px;
  margin: 30px auto;
  font-size: 25px;
  color: whitesmoke;
  text-align: center;
  border-radius: 30px;
  text-transform: capitalize;
}

#show-more:hover{
  color: aquamarine;
}